# LaTeX
**/*.aux
**/*.bbl
**/*-blx.bib
**/*.bcf
**/*.blg
**/*.fdb_latexmk
**/*.fls
**/*.idx
**/*.ilg
**/*.ind
**/*.loe
**/*.log
**/*.nav
**/*.out
**/*.run.xml
**/*.snm
**/*.synctex.gz
**/*.synctex.gz(busy)
**/*.toc
**/*.xdv

# Python
__pycache__/
